.Card {
    background: rgba(68, 72, 79, 0.2);
    border-radius: 0.75rem;
    padding: 0.375rem;
    backdrop-filter: blur(16px);
    box-shadow: 0 0 1rem -0.25rem rgba(109, 110, 114, 0.1);

    &[data-hover] {
        transition: background-color 160ms, box-shadow 160ms;
        cursor: pointer;

        &:hover {
            background: rgba(92, 97, 107, 0.3);
            box-shadow: 0 0 0.75rem -0.25rem rgba(200, 200, 200, 0.4);
        }
    }
}