.Root {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    padding: 1rem;
    min-height: 100vh;
    gap: 1rem;
}

.Background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/background.jpg");
    background-size: cover;
}

.Navbar {
    display: flex;
    flex-direction: column;
    background: rgba(68, 72, 79, 0.2);
    gap: 0.5rem;

    border-radius: 0.75rem;
    padding: 0.5rem;
    backdrop-filter: blur(16px);
    box-shadow: 0 0 1rem -0.25rem rgba(109, 110, 114, 0.1);
}

.Content {
}

.ListingGrid {
/*'m-2 flex flex-wrap gap-2'*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 0.5rem;
    margin: 0 auto;
    justify-items: center;
}

.PodPlaceholder {
    flex: 0 1 auto;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius:
            100%;
}

.AdditionalContent {
    position: sticky;
    top: 0;

    background: rgba(50, 53, 58, 0.2);
    backdrop-filter: blur(16px);
    border-radius: 0.75rem;
    max-width: 32rem;
    padding: 1rem;
}