@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Lexend", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #111;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --spacing-layout: 1rem;
}

@media screen and (max-width: 1280px) {
    --spacing-layout: 0.75rem;
}

@media screen and (max-width: 720px) {
    --spacing-layout: 0.5rem;
}

#root {
    display: contents;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Text", "Times New Roman", serif;
    margin: 0;
}

hr {
    height: 3px;
    border: none;
    border-radius: 999px;
    background: rgba(0, 0, 0, 0.2);
}

input, textarea {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
    background: rgba(0, 0, 0, 0.3);
    transition: all 220ms;
    width: 100%;

    &:hover, &:focus, &:focus-visible {
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0.75rem -0.25rem rgba(200, 200, 200, 0.4);
        outline: none;
    }
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background: rgba(0, 0, 0, 0.3);
    /*border: rgba(0, 0, 0, 0.5);*/
    border: none;
    border-radius: 0.25rem;

    &::before {
        content: "";
        position: absolute;

        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0.25rem;

        border-radius: 0.125rem;
        transition: all 160ms;
        /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    }

    &:hover::before {
        background: rgba(255, 255, 255, 0.2);
    }

    &:checked {
        box-shadow: 0 0 0.75rem -0.25rem rgba(200, 200, 200, 0.9);

        &::before {
            background: rgba(255, 255, 255, 0.5);
        }

        &:hover::before {
            background: rgba(255, 255, 255, 0.1);
        }
    }
}